.body {
    background: black;
 }
 #navbar{
     background-color: rgb(0, 0, 0);
 }
 .nav-item{
     font-weight: bold;
     color: darkgrey;
     position: relative;
     bottom: 3px;
 }
 #navlist a:hover{
     color:#FF6500;
 }
 #navlist a:focus{
     font-weight: bold;
     text-decoration: line-through white;
     color: #FF6500;
 }
 #rmlogo{
     position: relative;
     bottom: 6px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #navbarNav button{
    color: lightgray;
    border-color: lightgray;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: black;
    border-style: solid;
}
#navbarNav button:hover{
    color: #FF6500;
    border-color: #FF6500;
}
/* -------------------tour card---------------- */
#tour-title h1{
    color: #FF6500;
}
#tour-title h4{
    color: white;
}
#tour-title{
    background-color: black;
}
#tour{
    background-color: black;
}
#tour-card .card{
    background-color: black;
}
.card h2{
    color: #FF6500;
}
.card h5{
    color: darkgrey;
}
.card-body h5{
    color:darkgrey;
}
.card-body h3{
    color: white;
}
.card-footer label{
    color: white;
}
.card-footer button{
    color: white;
    border-color: aliceblue;
    background-color: black;
    border-style: solid;
    border-style: solid;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  
    
}
.card-footer button:hover{
    border-style: solid;
    color: #FF6500;
    border-color: #FF6500;
}
/* ---------------note---------------- */
#ticket-note{
    background-color: black;
    color: aliceblue;
}
#ticket-note h5{
    color: #FF6500;
    font-weight: bolder;
    padding: 10px;
}
#ticket-note ul{
    padding-bottom: 20px;
}
#ticket-note li{
    padding: 5px;
}
/* ---------------footer---------------- */
#footer-join-btn button{
    color: #FF6500;
    border-style: solid;
    border-color: #FF6500;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
}
#footer-join-btn button:hover{
    color: white;
    border-color: white;
}